.caixa-login {
    width: 400px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    margin: 80px auto;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 240px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
	border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}

.titulo-login {
    color: #333;
    text-shadow: 1px 1px 2px #ffc10755;
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: bold;
}

.grupo {
    width: 100%;
    margin-top: 18px;
}

.grupo label {
    font-weight: 600;
    color: #333;
    display: block;
}

.grupo input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffc107;
    font-size: 16px;
    background: #fafafa;
    transition: border 0.2s;
}

.grupo input:focus {
    border: 1.5px solid #ff9800;
    outline: none;
}

.btn-entrar {
    width: 100%;
    margin-top: 16px;
}

#btn-entrar {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #ffc107;
    border: none;
    color: #222;
    font-weight: 700;
    font-size: 18px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 2px 8px #ffc10733;
}

#btn-entrar:hover {
    background-color: #ff9800;
    color: #fff;
    cursor: pointer;
}

.esqueci-minha-senha {
    width: 100%;
    margin-top: 8px;
    text-align: right;
}

.esqueci-minha-senha a {
    text-decoration: none;
    color: #ff9800;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.2s;
}

.esqueci-minha-senha a:hover {
    color: #ffc107;
}

body {
    background: linear-gradient(120deg, #fdd766 0%, #b1b1b1 100%);
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 700;
}