/*
    CSS Base que Será usado em todas paginas Web
*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
	--cor-primaria: #007432;
	--cor-secundaria: #42bd62;
	--cor-fundo: #b1b1b1;
}

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: "Quicksand", sans-serif;
}
